production:
  provider:

  # if provider == "Rackspace"
  rackspace_username:
  rackspace_api_key:
  rackspace_container:
  rackspace_region:
  rackspace_cdn_url:

development:
  provider:

  # if provider == "Rackspace"
  rackspace_username:
  rackspace_api_key:
  rackspace_container:
  rackspace_region:
  rackspace_cdn_url: